USE [4EIT-A14-DistribucijaLekova]
GO
/****** Object:  Table [dbo].[Bolest]    Script Date: 21.3.2022. 01:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bolest](
	[BolestID] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Bolest] PRIMARY KEY CLUSTERED 
(
	[BolestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Grupa_Leka]    Script Date: 21.3.2022. 01:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grupa_Leka](
	[GrupaLekaID] [int] IDENTITY(1,1) NOT NULL,
	[NazivGrupe] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_GrupaLeka] PRIMARY KEY CLUSTERED 
(
	[GrupaLekaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Kontraindikacija]    Script Date: 21.3.2022. 01:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kontraindikacija](
	[KontraindikacijaID] [int] IDENTITY(1,1) NOT NULL,
	[Opis] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_Kontraindikacija] PRIMARY KEY CLUSTERED 
(
	[KontraindikacijaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Lek]    Script Date: 21.3.2022. 01:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lek](
	[LekID] [int] IDENTITY(1,1) NOT NULL,
	[ProizvodjacID] [int] NOT NULL,
	[NazivLeka] [nvarchar](50) NOT NULL,
	[NezasticenoIme] [nvarchar](50) NULL,
	[NacinKoriscenja] [nvarchar](500) NULL,
	[GrupaLekaID] [int] NOT NULL,
 CONSTRAINT [PK_Lek] PRIMARY KEY CLUSTERED 
(
	[LekID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Lek_Bolest]    Script Date: 21.3.2022. 01:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lek_Bolest](
	[LekID] [int] NOT NULL,
	[BolestID] [int] NOT NULL,
	[Napomena] [nvarchar](500) NULL,
 CONSTRAINT [PK_Lek_Bolest] PRIMARY KEY CLUSTERED 
(
	[LekID] ASC,
	[BolestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Lek_Kontraindikacija]    Script Date: 21.3.2022. 01:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lek_Kontraindikacija](
	[LekID] [int] NOT NULL,
	[KontraindikacijaID] [int] NOT NULL,
 CONSTRAINT [PK_Lek_Kontraindikacija] PRIMARY KEY CLUSTERED 
(
	[LekID] ASC,
	[KontraindikacijaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Lek_Nezeljeni_Efekat]    Script Date: 21.3.2022. 01:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lek_Nezeljeni_Efekat](
	[LekID] [int] NOT NULL,
	[NezeljeniEfekatID] [int] NOT NULL,
 CONSTRAINT [PK_Lek_NEfekat] PRIMARY KEY CLUSTERED 
(
	[LekID] ASC,
	[NezeljeniEfekatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Lek_Pakovanje]    Script Date: 21.3.2022. 01:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lek_Pakovanje](
	[PakovanjeID] [int] NOT NULL,
	[LekID] [int] NOT NULL,
	[Komentar] [nvarchar](500) NULL,
 CONSTRAINT [PK_Lek_Pakovanje] PRIMARY KEY CLUSTERED 
(
	[LekID] ASC,
	[PakovanjeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Nezeljeni_Efekat]    Script Date: 21.3.2022. 01:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nezeljeni_Efekat](
	[NezeljeniEfekatID] [int] IDENTITY(1,1) NOT NULL,
	[Opis] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_Nezeljeni_Efekat] PRIMARY KEY CLUSTERED 
(
	[NezeljeniEfekatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Pakovanje]    Script Date: 21.3.2022. 01:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pakovanje](
	[PakovanjeID] [int] IDENTITY(1,1) NOT NULL,
	[Sastav] [nvarchar](500) NOT NULL,
	[Kolicina] [int] NOT NULL,
	[Naziv] [nvarchar](50) NOT NULL,
	[OblikPakovanja] [nvarchar](50) NULL,
 CONSTRAINT [PK_Pakovanje] PRIMARY KEY CLUSTERED 
(
	[PakovanjeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Proizvodjac]    Script Date: 21.3.2022. 01:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proizvodjac](
	[ProizvodjacID] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Proizvodjac] PRIMARY KEY CLUSTERED 
(
	[ProizvodjacID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Bolest] ON 

INSERT [dbo].[Bolest] ([BolestID], [Naziv]) VALUES (1, N'Kamenci u žuči')
INSERT [dbo].[Bolest] ([BolestID], [Naziv]) VALUES (2, N'Emfizem pluća')
INSERT [dbo].[Bolest] ([BolestID], [Naziv]) VALUES (3, N'Lupanje srca')
SET IDENTITY_INSERT [dbo].[Bolest] OFF
SET IDENTITY_INSERT [dbo].[Grupa_Leka] ON 

INSERT [dbo].[Grupa_Leka] ([GrupaLekaID], [NazivGrupe]) VALUES (1, N'Antivirotik')
INSERT [dbo].[Grupa_Leka] ([GrupaLekaID], [NazivGrupe]) VALUES (2, N'Antireumatik')
INSERT [dbo].[Grupa_Leka] ([GrupaLekaID], [NazivGrupe]) VALUES (3, N'Miorelaksant')
SET IDENTITY_INSERT [dbo].[Grupa_Leka] OFF
SET IDENTITY_INSERT [dbo].[Kontraindikacija] ON 

INSERT [dbo].[Kontraindikacija] ([KontraindikacijaID], [Opis]) VALUES (1, N'lom kostiju')
INSERT [dbo].[Kontraindikacija] ([KontraindikacijaID], [Opis]) VALUES (2, N'povrede kičmenenog stuba')
INSERT [dbo].[Kontraindikacija] ([KontraindikacijaID], [Opis]) VALUES (3, N'bradikardija')
SET IDENTITY_INSERT [dbo].[Kontraindikacija] OFF
SET IDENTITY_INSERT [dbo].[Lek] ON 

INSERT [dbo].[Lek] ([LekID], [ProizvodjacID], [NazivLeka], [NezasticenoIme], [NacinKoriscenja], [GrupaLekaID]) VALUES (1, 6, N'HUMULIN R', N'ime cex87', NULL, 23)
INSERT [dbo].[Lek] ([LekID], [ProizvodjacID], [NazivLeka], [NezasticenoIme], [NacinKoriscenja], [GrupaLekaID]) VALUES (2, 30, N'DIFUTRAT', N'ime ket53', N'uputstvo br. 381', 26)
INSERT [dbo].[Lek] ([LekID], [ProizvodjacID], [NazivLeka], [NezasticenoIme], [NacinKoriscenja], [GrupaLekaID]) VALUES (3, 9, N'BRUFEN', NULL, N'uputstvo br. 616', 24)
SET IDENTITY_INSERT [dbo].[Lek] OFF
INSERT [dbo].[Lek_Bolest] ([LekID], [BolestID], [Napomena]) VALUES (1, 2, N'napomena br. 678')
INSERT [dbo].[Lek_Bolest] ([LekID], [BolestID], [Napomena]) VALUES (1, 3, N'napomena br. 212')
INSERT [dbo].[Lek_Bolest] ([LekID], [BolestID], [Napomena]) VALUES (1, 5, N'napomena br. 636')
GO
INSERT [dbo].[Lek_Kontraindikacija] ([LekID], [KontraindikacijaID]) VALUES (1, 3)
INSERT [dbo].[Lek_Kontraindikacija] ([LekID], [KontraindikacijaID]) VALUES (1, 16)
INSERT [dbo].[Lek_Kontraindikacija] ([LekID], [KontraindikacijaID]) VALUES (2, 10)
GO
INSERT [dbo].[Lek_Nezeljeni_Efekat] ([LekID], [NezeljeniEfekatID]) VALUES (1, 11)
INSERT [dbo].[Lek_Nezeljeni_Efekat] ([LekID], [NezeljeniEfekatID]) VALUES (2, 1)
INSERT [dbo].[Lek_Nezeljeni_Efekat] ([LekID], [NezeljeniEfekatID]) VALUES (2, 20)
GO
INSERT [dbo].[Lek_Pakovanje] ([PakovanjeID], [LekID], [Komentar]) VALUES (7, 1, N'komentar br. 134')
INSERT [dbo].[Lek_Pakovanje] ([PakovanjeID], [LekID], [Komentar]) VALUES (10, 1, N'komentar br. 389')
INSERT [dbo].[Lek_Pakovanje] ([PakovanjeID], [LekID], [Komentar]) VALUES (3, 2, N'komentar br. 860')
GO
SET IDENTITY_INSERT [dbo].[Nezeljeni_Efekat] ON 

INSERT [dbo].[Nezeljeni_Efekat] ([NezeljeniEfekatID], [Opis]) VALUES (1, N'gubitak apetita')
INSERT [dbo].[Nezeljeni_Efekat] ([NezeljeniEfekatID], [Opis]) VALUES (2, N'tahikardija')
INSERT [dbo].[Nezeljeni_Efekat] ([NezeljeniEfekatID], [Opis]) VALUES (3, N'dijareja')
SET IDENTITY_INSERT [dbo].[Nezeljeni_Efekat] OFF
SET IDENTITY_INSERT [dbo].[Pakovanje] ON 

INSERT [dbo].[Pakovanje] ([PakovanjeID], [Sastav], [Kolicina], [Naziv], [OblikPakovanja]) VALUES (1, N'specifikacija rb. 238', 23, N'sirup', NULL)
INSERT [dbo].[Pakovanje] ([PakovanjeID], [Sastav], [Kolicina], [Naziv], [OblikPakovanja]) VALUES (2, N'specifikacija rb. 264', 28, N'tableta', NULL)
INSERT [dbo].[Pakovanje] ([PakovanjeID], [Sastav], [Kolicina], [Naziv], [OblikPakovanja]) VALUES (3, N'specifikacija rb. 073', 2, N'rastvor za kožu', NULL)
SET IDENTITY_INSERT [dbo].[Pakovanje] OFF
SET IDENTITY_INSERT [dbo].[Proizvodjac] ON 

INSERT [dbo].[Proizvodjac] ([ProizvodjacID], [Naziv]) VALUES (25, N'Alkaloid a.d.')
INSERT [dbo].[Proizvodjac] ([ProizvodjacID], [Naziv]) VALUES (9, N'Altana Pharma AG')
INSERT [dbo].[Proizvodjac] ([ProizvodjacID], [Naziv]) VALUES (24, N'AstraZeneca AB')
SET IDENTITY_INSERT [dbo].[Proizvodjac] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ_Proizvodjac]    Script Date: 21.3.2022. 01:23:06 ******/
ALTER TABLE [dbo].[Proizvodjac] ADD  CONSTRAINT [UQ_Proizvodjac] UNIQUE NONCLUSTERED 
(
	[Naziv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Lek]  WITH CHECK ADD  CONSTRAINT [FK_GrupaLeka] FOREIGN KEY([GrupaLekaID])
REFERENCES [dbo].[Grupa_Leka] ([GrupaLekaID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Lek] CHECK CONSTRAINT [FK_GrupaLeka]
GO
ALTER TABLE [dbo].[Lek]  WITH CHECK ADD  CONSTRAINT [FK_Proizvodjac] FOREIGN KEY([ProizvodjacID])
REFERENCES [dbo].[Proizvodjac] ([ProizvodjacID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Lek] CHECK CONSTRAINT [FK_Proizvodjac]
GO
ALTER TABLE [dbo].[Lek_Bolest]  WITH CHECK ADD  CONSTRAINT [FK_Bolest] FOREIGN KEY([BolestID])
REFERENCES [dbo].[Bolest] ([BolestID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Lek_Bolest] CHECK CONSTRAINT [FK_Bolest]
GO
ALTER TABLE [dbo].[Lek_Bolest]  WITH CHECK ADD  CONSTRAINT [FK_Lek_B] FOREIGN KEY([LekID])
REFERENCES [dbo].[Lek] ([LekID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Lek_Bolest] CHECK CONSTRAINT [FK_Lek_B]
GO
ALTER TABLE [dbo].[Lek_Kontraindikacija]  WITH CHECK ADD  CONSTRAINT [FK_Kontraindikacija] FOREIGN KEY([KontraindikacijaID])
REFERENCES [dbo].[Kontraindikacija] ([KontraindikacijaID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Lek_Kontraindikacija] CHECK CONSTRAINT [FK_Kontraindikacija]
GO
ALTER TABLE [dbo].[Lek_Kontraindikacija]  WITH CHECK ADD  CONSTRAINT [FK_Lek_K] FOREIGN KEY([LekID])
REFERENCES [dbo].[Lek] ([LekID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Lek_Kontraindikacija] CHECK CONSTRAINT [FK_Lek_K]
GO
ALTER TABLE [dbo].[Lek_Nezeljeni_Efekat]  WITH CHECK ADD  CONSTRAINT [FK_Lek_NE] FOREIGN KEY([LekID])
REFERENCES [dbo].[Lek] ([LekID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Lek_Nezeljeni_Efekat] CHECK CONSTRAINT [FK_Lek_NE]
GO
ALTER TABLE [dbo].[Lek_Nezeljeni_Efekat]  WITH CHECK ADD  CONSTRAINT [FK_NezeljeniEfekat] FOREIGN KEY([NezeljeniEfekatID])
REFERENCES [dbo].[Nezeljeni_Efekat] ([NezeljeniEfekatID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Lek_Nezeljeni_Efekat] CHECK CONSTRAINT [FK_NezeljeniEfekat]
GO
ALTER TABLE [dbo].[Lek_Pakovanje]  WITH CHECK ADD  CONSTRAINT [FK_Lek_P] FOREIGN KEY([LekID])
REFERENCES [dbo].[Lek] ([LekID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Lek_Pakovanje] CHECK CONSTRAINT [FK_Lek_P]
GO
ALTER TABLE [dbo].[Lek_Pakovanje]  WITH CHECK ADD  CONSTRAINT [FK_Pakovanje] FOREIGN KEY([PakovanjeID])
REFERENCES [dbo].[Pakovanje] ([PakovanjeID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Lek_Pakovanje] CHECK CONSTRAINT [FK_Pakovanje]
GO
